p{
    font-family: Arial Narrow;
    font-size: larger;
    color: rgb(0, 0, 0);
}
body {
    color: rgb(92, 86, 75);
    font-family: Arial;
    background-color: rgb(241, 240, 223);
}

h1{
    color: rgb(0, 0, 0);
    background-color: rgb(250, 250, 250);
    
}